.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.dockerignore
README.md
test_*
*.ipynb
*.tmp
temp/
training.log
*.dockerignore
Dockerfile.single
Dockerfile.multi
compare-sizes.sh